.site-title{
    font-family: $font__title;
    font-size: clamp(1rem, #{"-0.875rem + 8.333vw"}, 2.5rem);
    font-weight: bold;
    margin-bottom: 0;
    a{
        text-decoration: none;
        color: #6D6875;
    }
    
}

.site-description{
    font-family: $font__title;
    font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 1.5rem);
    font-weight: normal;
    color: rgb(126, 37, 37);
    margin-top: 0;
}

body.home{
    width: 100vw;
    height: 100vh;
    
    #primary{
        margin-left: 0;
        width: 100vw;
    }
}

body.home::after{
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //CHANGEMENT DU CLIP-PATH 
    clip-path: polygon(61% 0, 100% 0, 100% 35%, 97% 10%, 87% 32%, 94% 8%, 72% 24%, 90% 6%, 62% 13%, 88% 2%);
    background-color: #E5C8D5;
    z-index: -1;
    @include desktop{
        clip-path: polygon(30% 0, 100% 0, 100% 68%, 94% 19%, 78% 57%, 87% 16%, 48% 45%, 78% 12%, 38% 21%, 73% 5%);
        height: 140%;
    }
}
h1{
    color: #778899;
    opacity: 50%;
    margin-top: 5vh;
}

.accueil{
    
    ul{
        list-style-type: none;
        font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 1.5rem);
        color: #B0C4DE;
    }

    img{
        display: flex;
        border-radius: 50%;
        align-content: center;
    }
}