.site-title{
    font-family: $font__title;
    font-size: clamp(1rem, #{"-0.875rem + 8.333vw"}, 2.5rem);
    font-weight: bold;
    margin-bottom: 0;
    a{
        text-decoration: none;
        color: #6D6875;
    }
    
}

.site-description{
    font-family: $font__title;
    font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 1.5rem);
    font-weight: normal;
    color: rgb(126, 37, 37);
    margin-top: 0;
}

body.home{
    width: 100vw;
    height: 100vh;
    
    #primary{
        margin-left: 0;
        width: 100vw;
    }
}

body.home::after{
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //CHANGEMENT DU CLIP-PATH 
    clip-path: polygon(61% 0, 100% 0, 100% 35%, 97% 10%, 87% 32%, 94% 8%, 72% 24%, 90% 6%, 62% 13%, 88% 2%);
    background-color: #E5C8D5;
    z-index: -1;
    @include desktop{
        clip-path: polygon(30% 0, 100% 0, 100% 68%, 94% 19%, 78% 57%, 87% 16%, 48% 45%, 78% 12%, 38% 21%, 73% 5%);
        height: 140%;
    }
}
h1{
    color: #778899;
    opacity: 50%;
    margin-top: 5vh;
}

.page-header{
    text-align: center;
    font-size: 1.4rem;
    text-shadow: 0.2em 0.2em 0.1em #696969;
    /*------------- ANIMATION TITRES ARCHIVES ---------------*/
    animation: anim-4 2s both 2s;
}
/*------------- ANIMATION TITRES ARCHIVES ---------------*/
@keyframes anim-4{
    0%{opacity: 0;}
    50%{opacity: 1;}
    70%{opacity: 1;}
    100%{opacity: 0.7;}
}



.liste-cours{
    display: flex;
    flex-direction: column;

        section{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            justify-content: space-around;
    
            article{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 30%;
                border: 1px solid #FDE0D9;
                background-color: #FFFAF0;
                box-shadow: 8px 8px 12px #FDE0D9;
                margin-top: 10vh;
                    
                    p{
                        font-size: 1rem;
                        font-weight: bold;
                    }
                    a{
                        font-size: 2rem;
                        font-weight: bold;
                        text-decoration: none;
                    }
            }//fin article
        }//fin section
}