//LE CARROUSEL EST CELUI QUI BOUGE
//MODIFICATION DE LA TAILLE DU CARROUSEL
.carrousel{
    display: flex;
    width: 600vw;
    height: 20vh;
    transition: transform .5s;

    div{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    
        //AJOUT DE DEUX DIV 
        &:nth-of-type(1){
            background-color: #D8FDD8;
        }
        &:nth-of-type(2){
            background-color: #D8FDD8;
        }
        &:nth-of-type(3){
            background-color: #D8FDD8;
        }
        &:nth-of-type(4){
            background-color: #D8FDD8;
        }
        &:nth-of-type(5){
            background-color: #D8FDD8;
        }

    }//fin du div

    //AJOUT TAILLE DES ICONES
    div img{
        height: 10vh;
        width: 10vw;
    }
}

.choixCarrousel{
    display: flex;
    width: 20vw;
    height: 5vh;
    background-color: #61517B;
    opacity: 70%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    justify-content: center;
    justify-content: space-around;
    margin-left: 40vw;
    

    a{
        display: flex;
        align-items: center;
        color: white;
        cursor: pointer;
        
    }
    //AJOUT D'UN HOVER SUR LES a
    a:hover{
        color: yellow;
    }
}

